body {
  margin: 0;
  text-align: center;
  /*centers everything w/o  a width set!*/
  font-family: 'Merriweather', serif;
  color: #40514E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  /*rem ignores the parent em*/
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  width: 4%;
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.programmer {
  font-weight: normal;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.pfp {
  width: 25%;
  border-radius: 100%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.volleyball {
  width: 25%;
  margin-right: 30px;
  float: left;
}

.watermelon {
  width: 25%;
  margin-left: 30px;
  float: right;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  padding: 40px;
  background: #11999E;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: .75rem;
  padding: 20px 0;
}
